/* body {
    background-color: var(--tint-blue);
} */

.red {
    border: 2px solid red;
}

header {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 1.6rem 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav {
    display: flex;
    align-items: center;
    gap: 4.8rem;
}

header nav ul {
    display: flex;
    gap: 3.2rem;
}

header nav ul li a {
    color: var(--grey);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.8rem;
    opacity: 0.8;
    transition: opacity .3s ease;
}

header nav ul li a:hover {
    opacity: 1;
}

header nav .btn {
    display: inline-block;
    padding: 1.6rem 4.8rem;
    border-radius: 4.1rem;
    border: 2px solid rgba(244, 246, 252, 0.20);
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white);
    transition: background-color .3s ease;
}

header nav .btn:hover {
    background-color: rgba(244, 246, 252, 0.20);
}

.s-hero {
    background-color: var(--tint-blue);
    padding-top: 21.8rem;
    padding-bottom: 12.8rem;
}

.s-hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s-hero .text {
    width: 100%;
    max-width: 58.2rem;
}

.s-hero .text p {
    margin-top: 2.4rem;
    margin-bottom: 4.8rem;
    max-width: 56.2rem;
    opacity: 0.6;
}

.s-hero .text .btns {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.s-hero .text .btns .btn-work {
    background-color: var(--yellow);
    padding: 1.6rem 5.6rem;
    border-radius: 4.1rem;
    color: var(--tint-blue);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3.2rem;
    transition: transform .3s ease;
}

.s-hero .text .btns .btn-work:hover {
    transform: scale(1.1);
}

.s-hero .text .btns .btn-pricing {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.s-hero .text .btns .btn-pricing span {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.8rem;
}

.s-hero .text .btns .btn-pricing img {
    transition: transform .3s ease;
}

.s-hero .text .btns .btn-pricing:hover img {
    transform: translateX(10px);
}

.s-work {
    background-color: var(--grey);
    padding: 12.8rem 0;
}

.s-work .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.s-work .left-container {
    width: 100%;
    max-width: 40.5rem;
}

.s-work .left-container h2 {
    color: var(--dark-blue);
}

.s-work .left-container p {
    color: var(--dark-blue);
    opacity: 0.6;
    margin: 1.6rem 0;
}

.s-work .left-container .btn {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.s-work .left-container .btn span {
    color: var(--royal-blue);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.2rem;
}

.s-work .left-container .btn img {
    transition: transform .3s ease;
}

.s-work .left-container .btn:hover img {
    transform: translateX(10px);
}

.s-work ul {
    width: 100%;
    max-width: 65.6rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4.8rem 3.5rem;
}

.s-work ul li {
    width: 30rem;
}

.s-work ul li .number {
    display: block;
    width: 5rem;
    height: 5rem;
    background: url("../img/bg-itens-work.svg") no-repeat center center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.2rem;
    margin-bottom: 1.6rem;
}

.s-work ul li h3 {
    color: var(--dark-blue);
    margin-bottom: 0.8rem;
}

.s-work ul li p {
    color: var(--dark-blue);
    opacity: 0.6;
}

.s-project {
    padding-top: 12.8rem;
    padding-bottom: 15.1rem;
}

.s-project .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.4rem;
}

.s-project .top .btn {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.s-project .top h2 {
    color: var(--dark-blue);
}

.s-project .all-projects {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.s-project .all-projects .card-project-featured {
    position: relative;
    display: block;
    max-width: 84.3rem;
    height: 60rem;
}

.s-project .all-projects .card-project-featured .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(306deg, #1C1E53 0%, rgba(28, 30, 83, 0.42) 100%);
    width: 100%;
    max-width: 39.6rem;
    height: 100%;
    z-index: 1;
    padding-left: 4.8rem;
    padding-right: 3.5rem;
    padding-bottom: 7.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.s-project .all-projects .card-project-featured .overlay p {
    margin-top: 1.6rem;
    margin-bottom: 4rem;
    max-width: 29.3rem;
}

.s-project .all-projects .card-project-featured .overlay span {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    color: var(--yellow);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.8rem;
}

.s-project .all-projects .card-project-featured .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Máscara para nao quebrar a imagem */
}

.s-project .all-projects .card-project-featured .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s-project .all-projects .second-projects {
    width: 100%;
    max-width: 40.5rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.s-project .all-projects .second-projects .card-project {
    position: relative;
    display: block;
    width: 100%;
    height: 28.4rem;
}

.s-project .all-projects .second-projects .card-project .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.s-project .all-projects .second-projects .card-project .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s-project .all-projects .second-projects .card-project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(306deg, #1C1E53 0%, rgba(28, 30, 83, 0.42));
    width: 100%;
    height: 100%;
    z-index: 1;
    padding-left: 5.6rem;
    padding-right: 3.6rem;
    padding-bottom: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    opacity: 0;
    transition: opacity .3s ease;
}

.s-project .all-projects .second-projects .card-project:hover .overlay {
    opacity: 1;
}

.s-project .all-projects .second-projects .card-project .overlay span {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    color: var(--yellow);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.8rem;
    margin-top: 0.1rem;
}

.s-features {
    background-color: var(--grey);
    padding: 12.8rem 0px;
}

.s-features .title {
    text-align: center;
    max-width: 63rem;
    margin: 0 auto;
    margin-bottom: 4.7rem;
}

.s-features .title h2 {
    color: var(--dark-blue);
    margin-top: 1.2rem;
}

.s-features .all-cards {
    display: flex;
    gap: 2.8rem;
    flex-wrap: wrap;
}